.side-bar {
  padding: 10px 0 10px 30px;
  width: 100%;
  height: 100%;
  flex: 1.7;
  position: relative;
}

.search-input {
  border: 1px solid #d67b30;
  padding: 0.5rem 0.75rem;
  width: 240px;
  height: 33px;
  border-radius: 1rem;
  outline: none;
  color: #d67b30;
  margin-bottom: 0.75rem;
}

.search-input::-webkit-input-placeholder {
  font-size: 13px;
  color: #9593a4;
}

.side-section {
  margin-top: 10px;
}

h1 {
  font-size: 14px;
  color: #5f5d70;
}

.side-top {
  height: 160px;
  width: 260px;
  overflow: hidden;
}

.side-bottom {
  height: 280px;
  width: 260px;
  overflow: hidden;
}

.search-result {
  position: absolute;
  top: 60px;
  left: 0;
  width: 280px;
  height: 92%;
  background-color: #fff;
  margin-left: 20px;
  z-index: 99;
  padding: 10px;
  overflow: auto;
}

.search-result-list {
  list-style: none;
}

.search-result-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.search-result-list-item > span:first-child {
  font-size: 14px;
  flex: 1;
}

.search-result-list-item > span:last-child {
  font-size: 12px;
  flex: 9;
  cursor: pointer;
}

.link {
  font-size: 12px;
  text-decoration: none;
  color: #333;
}
