.side-bar {
  padding: 10px 0 10px 20px;
  width: 100%;
  height: 100%;
  flex: 2;
}

.side-bar input {
  border: 1px solid #d67b30;
  padding: 0.5rem 0.75rem;
  width: 240px;
  height: 33px;
  border-radius: 1rem;
  outline: none;
  color: #d67b30;
  margin-bottom: 0.75rem;
}

.side-bar input::-webkit-input-placeholder {
  font-size: 13px;
  color: #9593a4;
}

.side-section {
  margin-top: 10px;
}

h1 {
  font-size: 14px;
  color: #5f5d70;
}

.side-top {
  height: 160px;
  width: 260px;
  overflow: hidden;
}

.side-bottom {
  height: 280px;
  width: 260px;
  overflow: hidden;
}
