.menu {
  flex: 4;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.5rem;
}

.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.menu-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #f4f4f4;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  padding-bottom: 5px;
  margin: 0 3rem;
  position: relative;
}

.menu-item.current,
.menu-item:hover {
  border-bottom: 1px solid #f4f4f4;
}

.link {
  color: #f4f4f4;
  text-decoration: none;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  padding: 10px 20px;
  border-radius: 20px;
}

.search-input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0 10px;
  color: #d7d7d7;
  font-family: "Montserrat", sans-serif;
}

.search label svg {
  color: #d7d7d7;
}

.search-button {
  color: #d7d7d7;
  cursor: pointer;
}

.login-button,
.logout-button {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #f4f4f4;
  cursor: pointer;
  margin-left: 3rem;
  width: max-content;
}

.login-button:hover .link,
.logout-button:hover {
  color: #d7d7d7;
}

.sub-menu-item {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 10px 5px 5px;
  z-index: 99;
  list-style: none;
}

.sub-menu-item li {
  margin: 7px 0;
  color: #f4f4f4;
}

.sub-menu-item li:hover,
.sub-menu-item li.current {
  list-style: initial;
}

@media screen and (max-width: 1185px) {
  .menu-list {
    display: none;
  }

  .menu {
    justify-content: flex-end;
  }

  .menu-list.active {
    display: block;
    position: fixed;
    left: 0;
    top: 60px;
    width: 40%;
    min-width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 40px;
  }

  .menu-item {
    width: 80%;
    margin-left: 20px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .menu-list {
    position: relative;
  }

  .search {
    display: none;
  }

  .search.active {
    position: absolute;
    left: 20px;
    top: 250px;
    display: block;
  }
}
