.menu {
  flex: 4;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1.5rem;
}

.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.menu-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #f4f4f4;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  padding-bottom: 5px;
  margin: 0 3rem;
  position: relative;
}

.menu-item.current,
.menu-item:hover {
  border-bottom: 1px solid #f4f4f4;
}

.link {
  color: #f4f4f4;
  text-decoration: none;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 30px;
  position: relative;
}

.search-input {
  position: absolute;
  top: 0;
  left: 0;
  border: 1.2px solid transparent;
  outline: none;
  background-color: transparent;
  padding: 8px 16px 8px 32px;
  color: #d7d7d7;
  font-family: "Montserrat", sans-serif;
  transition: border 200ms ease-in;
  width: 220px;
  height: 30px;
  border-radius: 16px;
}

.search-input::placeholder {
  color: #d7d7d7;
  font-size: 12px;
}

.search label {
  position: absolute;
  top: 8px;
  left: 10px;
  z-index: 9;
}

.search label svg {
  color: #d7d7d7;
}

.search-input:hover {
  border-color: #90cea1;
}

.search-input:focus {
  border-color: #01b4e4;
}

.search-result-wrapper {
  width: 140%;
  position: absolute;
  background-color: #000;
  color: #d7d7d7;
  top: 40px;
  left: 0;
  padding: 10px;
}

.search-result-query {
  font-size: 12px;
  padding-bottom: 8px;
  border-bottom: 0.5px solid #d7d7d7;
  margin-bottom: 8px;
}

.search-result {
  list-style: none;
}

.search-result li {
  padding: 4px 0;
  font-size: 12px;
  cursor: pointer;
}

.search-result-link {
  font-size: 12px;
  margin-top: 8px;
  text-align: center;
  cursor: pointer;
  color: #90cea1;
}

.search-result-link a:hover {
  color: #01b4e4;
}

.login-button,
.logout-button {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #f4f4f4;
  cursor: pointer;
  margin-left: 3rem;
  width: max-content;
}

.login-button:hover .link,
.logout-button:hover {
  color: #d7d7d7;
}

.sub-menu-item {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 10px 5px 5px;
  z-index: 99;
  list-style: none;
}

.sub-menu-item li {
  margin: 7px 0;
  color: #f4f4f4;
}

.sub-menu-item li:hover,
.sub-menu-item li.current {
  list-style: initial;
}

@media screen and (max-width: 1185px) {
  .menu-list {
    display: block;
    position: fixed;
    left: -100%;
    top: 60px;
    width: 40%;
    min-width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 20px;
    transition: left 200ms ease-in-out;
  }

  .menu {
    justify-content: flex-end;
  }

  .menu-list.active {
    left: 0;
  }

  .menu-item {
    width: 80%;
    margin-left: 20px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .menu-list {
    padding-top: 80px;
  }

  .search {
    display: none;
  }

  .search.active {
    position: absolute;
    left: 20px;
    top: 80px;
    display: block;
  }

  .search-input {
    border-color: #90cea1;
  }
}
