.menu {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0.5rem;
}

.menu-card h1 {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0.7rem;
  color: #9593a4;
}

.menu-card ul {
  list-style: none;
}

.menu-card ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  font-weight: 500;
  color: #5f5d70;
  cursor: pointer;
  margin-bottom: 5px;
}

.menu-card ul li.current {
  color: #d67b30;
}

.link {
  color: #5f5d70;
  text-decoration: none;
  gap: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-card ul li.current .link {
  color: #d67b30;
}

.menu-card ul li:hover,
.link:hover {
  color: #d67b30;
}
