.container {
  width: 100%;
  height: max-content;
  min-height: calc(100vh - 60px);
}

.wrapper {
  padding-top: 20px;
  width: 100%;
}

.content-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.content {
  position: absolute;
  left: 0;
  top: 40vh;
  width: 100%;
  padding: 0 40px;
}

.link {
  text-decoration: none;
  color: #f4f4f4;
}

.content-top {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title {
  color: #f4f4f4;
  font-size: 28px;
  font-weight: 300;
}

.actions {
  display: flex;
  align-items: center;
}

.actions .add,
.like,
.bookmark {
  border: 0.8px solid #f4f4f4;
  outline: none;
  background-color: transparent;
  padding: 12px 22px;
  color: #fff;
  cursor: pointer;
  width: 80px;
  height: 40px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.actions .add:hover svg,
.like:hover svg,
.bookmark:hover svg {
  transform: scale(1.1);
  transition: all 400ms ease-in-out;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f4f4f4;
  margin-bottom: 20px;
}

.details,
.sub-details {
  font-size: 14px;
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 20px;
}

.details {
  margin-right: 20px;
}

.sub-details {
  justify-content: flex-end;
}

.genres {
  list-style: none;
  display: flex;
}

.genre:not(:last-child)::after {
  content: "/";
  margin: 0 5px;
}

.genres::after {
  content: "|";
  margin: 0 10px;
}

.details > div:not(:last-child)::after {
  content: "|";
  margin: 0 10px;
}

.sub-details > span:last-child {
  margin-left: 10px;
}

.cast {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cast-info {
  color: #f4f4f4;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.cast-info:not(:last-child)::after {
  content: "|";
  margin: 0 10px;
}

.cast-info > span:first-child::after {
  content: ":";
  margin: 0 5px;
}

.tagline {
  font-size: 16px;
  font-style: italic;
  color: #f4f4f4;
  margin-top: 30px;
}

.overview {
  width: 80%;
  font-size: 14px;
  font-weight: 300;
  color: #f4f4f4;
  line-height: 20px;
  margin: 20px 0 40px;
}

.watch {
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #f4f4f4;
  padding: 15px 20px;
  color: #f4f4f4;
  cursor: pointer;
  width: 30%;
  font-family: "Montserrat", sans-serif;
}

.watch:disabled {
  cursor: default;
  color: #d7d7d7;
}

.content-wrapper {
  width: 100%;
  height: max-content;
  position: absolute;
  top: 100vh;
  left: 0;
  background-color: #000;
  padding: 20px;
}

.next-episode {
  width: 90%;
  padding: 10px;
  color: #f4f4f4;
  margin: 10px auto 50px;
}

.next-episode h1 {
  font-weight: 500;
  font-size: 20px;
  margin: 0 20px 0 10px;
}

.next-episode-content {
  font-size: 15px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.next-episode-info {
  display: flex;
  align-items: center;
}

.next-episode-info > div {
  margin-left: 30px;
}

.next-episode-name {
  text-align: center;
  margin: 20px 0 0;
  font-size: 15px;
  font-weight: 400;
}

.last-episode {
  width: 90%;
  padding: 10px;
  color: #f4f4f4;
  margin: 10px auto 50px;
}

.last-episode h1 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.last-episode-content {
  display: flex;
  align-items: flex-end;
}

.last-episode-content img {
  width: 240px;
  height: 140px;
  object-fit: cover;
  margin-right: 20px;
}

.last-episode-info {
  width: 70%;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.last-episode-season {
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
}

.last-episode-name {
  font-size: 14px;
  font-weight: 300;
  margin: 10px 0 20px;
}

.last-episode-overview {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 10px;
  max-height: 50px;
  overflow-y: auto;
}

.last-episode-overview::-webkit-scrollbar {
  width: 0px;
}

.last-episode-overview::-webkit-scrollbar-thumb {
  width: 0px;
}

.season {
  width: 90%;
  padding: 10px;
  color: #f4f4f4;
  margin: 10px auto 50px;
}

.season-actions {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 10px 20px;
}

.season-actions h1 {
  font-weight: 500;
  font-size: 20px;
}

.season-actions > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 400px;
  flex-wrap: wrap;
}

.season-actions button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  outline: none;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  margin-left: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  color: #f5f5f5;
  font-weight: 500;
}

.season-actions button.active {
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  color: #000;
}

.season-episode {
  width: 100%;
}

.season-episode img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.season-episode-info {
  padding: 10px;
}

.season-episode-info > span {
  display: block;
  font-size: 13px;
}

.season-episode-info > span:first-child {
  margin-bottom: 10px;
}

.season-episode-info > span:last-child {
  font-size: 12px;
  color: #d7d7d7;
  text-align: justify;
  word-break: break-all;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.review {
  width: 90%;
  padding: 10px;
  margin: 10px auto 50px;
}

.review h1 {
  font-size: 20px;
  font-weight: 600;
  color: #f4f4f4;
  margin-bottom: 20px;
  margin-left: 10px;
}

.review-list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: max-content;
  max-height: 200px;
  overflow-y: auto;
}

.review-list::-webkit-scrollbar {
  width: 5px;
  background-color: #000;
}

.review-list::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #f4f4f4;
}

.review-list-item {
  color: #f4f4f4;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 4fr 1fr;
  font-size: 13px;
  padding: 10px 20px 10px 10px;
  font-weight: 400;
}

.review-list-item > div:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.review-list-item > div:nth-child(2) {
  margin: 0 15px 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
}

.review-list-item > div:last-child {
  text-align: end;
  font-size: 13px;
}

.similar {
  width: 90%;
  padding: 10px;
  margin: 10px auto 50px;
}

.similar h1 {
  font-size: 20px;
  font-weight: 600;
  color: #f4f4f4;
  margin-bottom: 20px;
  margin-left: 10px;
}

.similar-list {
  list-style: none;
  padding: 0 10px 0 20px;
}

.similar-list-item {
  max-width: 120px;
  width: 100%;
  height: 180px;
}

.similar-list-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.trailer {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  position: fixed;
  right: 3rem;
  top: 3rem;
  font-size: 24px;
  cursor: pointer;
  color: #f4f4f4;
}

.content-networks {
  position: absolute;
  top: 100px;
  left: 40px;
  display: flex;
  align-items: center;
}

.content-networks > div {
  width: 100px;
  height: 50px;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.2);
}

.content-networks img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.scope {
  border: 0.8px solid #f4f4f4;
  outline: none;
  background-color: transparent;
  padding: 12px 22px;
  color: #fff;
  width: 200px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.star {
  width: 20px;
  height: 20px;
  position: relative;
}

.star::after {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  color: #f4f4f4;
  font-size: 20px;
  top: 0;
  left: 0;
}

.star.yellow-star {
  width: 20px;
  height: 20px;
  position: relative;
}

.star.yellow-star::after {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: gold;
  font-size: 20px;
  top: 0;
  left: 0;
}

.star.half-star {
  width: 20px;
  height: 20px;
  position: relative;
}

.star.half-star::after {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "\f5c0";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: gold;
  font-size: 20px;
  top: 0;
  left: 0;
}
