.container {
  padding: 15px;
  flex: 6;
  width: 100%;
}

.content-img {
  width: 50%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 30px;
  border-bottom: 1px solid #d67b30;
}

.content {
  padding: 15px;
  height: 300px;
  width: 500px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-map {
  display: flex;
  align-items: center;
  height: 25px;
}

.logo-img {
  min-width: 30px;
  max-width: 40px;
  height: 25px;
  object-fit: contain;
  margin-right: 7px;
}

.logo-name {
  font-size: 13px;
  color: #333;
  margin-right: 7px;
  line-height: 25px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #333;
  margin-top: 7px;
}

.title > span:first-child {
  font-size: 23px;
  font-weight: 600;
}

.title > span:last-child {
  font-size: 13px;
  font-weight: 500;
  color: #d67b30;
}

.tagline {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  color: #666;
}

.genres {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.genre {
  color: #d67b30;
  border: 1px solid #d67b30;
  padding: 5px 10px;
  border-radius: 16px;
  font-size: 12px;
  margin: 5px 10px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 13px;
  color: #444;
  font-weight: 300;
}

.info > span:last-child {
  margin-left: 10px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions .watch {
  background-color: #d67b30;
  font-size: 15px;
  font-weight: 700;
  border: 1px solid #d67b30;
  padding: 14px 16px;
  color: #fff;
  cursor: pointer;
  width: 60%;
}

.actions .add,
.like,
.bookmark {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #d67b30;
  border: 1px solid #d67b30;
  cursor: pointer;
  width: 47px;
  height: 47px;
  font-size: 18px;
}

.actions .add:hover svg,
.like:hover svg,
.bookmark:hover svg {
  transform: scale(1.2);
  transition: all 400ms ease-in-out;
}

.details {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  align-items: flex-start;
}

.overview {
  width: 40%;
  font-size: 12px;
  text-align: justify;
  font-weight: 300;
  color: #444;
  line-height: 20px;
  padding-right: 10px;
  word-break: break-all;
}

.detail {
  width: 60%;
  padding-left: 10px;
}

.detail-tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.detail-tab {
  font-size: 12px;
  font-weight: 500;
  color: #d67b30;
  padding: 3px 7px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  margin: 0 5px;
  text-transform: capitalize;
}

.detail-tab.active {
  border-bottom: 1px solid #d67b30;
}

.cast {
  flex: 1;
}

.cast-list {
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  padding-left: 10px;
}

.cast-list-item {
  width: 110px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cast-list-item img {
  width: 90px;
  height: 110px;
  object-fit: cover;
  cursor: pointer;
}

.cast-info {
  margin-top: 5px;
  padding: 5px;
}

.cast-info > div {
  font-size: 12px;
  text-align: center;
  padding: 2px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cast-info > div:first-child {
  border-bottom: 1px dotted #d67b30;
}

.reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow: auto;
  height: 180px;
  padding: 5px 10px;
}

.review-list::-webkit-scrollbar {
  background-color: #fff;
  width: 7px;
}

.review-list::-webkit-scrollbar-thumb {
  background-color: #f4f4f4;
  width: 7px;
}

.review-list-item {
  display: flex;
  align-items: flex-start;
  font-size: 11px;
  padding: 5px;
}

.review-list-item > span:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1;
  padding-right: 5px;
}

.review-list-item > span:last-child {
  flex: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  font-size: 10px;
  font-weight: 300;
}

.similar {
  flex: 1;
}

.similar-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
}

.similar-list-item {
  width: 110px;
  margin-right: 10px;
}

.similar-list-item img {
  width: 110px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}

.link {
  text-decoration: none;
  font-size: 12px;
  color: #d67b30;
}

.slick-slide {
  width: 100% !important;
}

.slick-list {
  width: 100% !important;
}
