.container {
  padding: 10px 25px;
  width: 100%;
  height: max-content;
  min-height: calc(100vh - 60px);
}

.wrapper {
  display: flex;
  padding: 20px 30px;
}

.content-img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.content {
  height: 250px;
  overflow: hidden;
  font-weight: 300;
  color: #f4f4f4;
  margin-left: 20px;
  padding: 10px 0;
}

.name {
  font-size: 23px;
  font-weight: 600;
  margin-top: 10px;
}

.birth {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin: 12px 0 10px;
  color: #d7d7d7;
}

.birthday {
  margin-right: 15px;
}

.biography {
  font-size: 12px;
  height: 150px;
  overflow-y: auto;
  padding: 5px 15px 5px 0;
  line-height: 20px;
}

.biography::-webkit-scrollbar {
  width: 7px;
  background-color: #000;
}

.biography::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: #f4f4f4;
}

.cast {
  height: 280px;
  width: 100%;
  overflow: hidden;
  padding-top: 40px;
  margin-top: 20px;
  border-top: 1px solid #f4f4f4;
}

.cast-item {
  height: 100%;
  width: 100% !important;
  /*width: 110px !important;*/
  margin-right: 10px;
}

.cast-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.cast-title {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding: 0 5px;
  cursor: pointer;
  margin-top: 5px;
}

.link {
  text-decoration: none;
  color: #f4f4f4;
}
