.container {
  padding: 15px;
  width: 100%;
  height: max-content;
  min-height: calc(100vh - 60px);
}

.content-img {
  width: 50%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 30px;
  border-bottom: 1px solid #f4f4f4;
}

.content {
  padding: 15px;
  height: 300px;
  width: 50%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-map {
  display: flex;
  align-items: center;
  height: 25px;
}

.logo-img {
  width: 60px;
  height: 25px;
  object-fit: contain;
  margin-right: 7px;
  background-color: #4a7720;
  padding: 5px 12px;
  border-radius: 15px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f4f4f4;
  margin-top: 7px;
  text-align: center;
}

.title > span {
  margin-top: 5px;
}

.title > span:first-child {
  font-size: 23px;
  font-weight: 600;
}

.title > span:last-child {
  font-size: 13px;
  font-weight: 500;
  color: #4a7720;
}

.tagline {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  color: #d7d7d7;
}

.genres {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.genre {
  color: #4a7720;
  border: 1px solid #4a7720;
  padding: 5px 10px;
  border-radius: 16px;
  font-size: 12px;
  margin: 5px 10px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 13px;
  color: #f4f4f4;
  font-weight: 300;
}

.info > span:last-child {
  margin-left: 10px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions .watch {
  background-color: #4a7720;
  font-size: 15px;
  font-weight: 700;
  border: 1px solid #4a7720;
  padding: 14px 16px;
  color: #fff;
  cursor: pointer;
  width: 60%;
}

.actions .add,
.like,
.bookmark {
  background-color: #4a7720;
  border: 1px solid #4a7720;
  padding: 12px 13px;
  color: #fff;
  cursor: pointer;
  width: 47px;
  height: 47px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions .add:hover svg,
.like:hover svg,
.bookmark:hover svg {
  transform: scale(1.2);
  transition: all 400ms ease-in-out;
}

.details {
  width: 100%;
  padding: 15px 15px 10px;
  display: flex;
  align-items: flex-start;
}

.overview {
  width: 45%;
  font-size: 12px;
  text-align: justify;
  font-weight: 300;
  color: #d7d7d7;
  line-height: 20px;
  padding-left: 15px;
  word-break: break-all;
}

.detail {
  width: 55%;
  padding-right: 15px;
}

.detail-tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.detail-tab {
  font-size: 13px;
  font-weight: 500;
  color: #d7d7d7;
  padding: 3px 7px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  margin: 0 5px;
  text-transform: capitalize;
}

.detail-tab.active {
  color: #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
}

.cast {
  width: 100%;
}

.cast-list {
  overflow: hidden;
  width: 100%;
}

.cast-list-item {
  width: 110px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cast-list-item img {
  width: 90px;
  height: 120px;
  object-fit: cover;
  cursor: pointer;
  margin: 0 auto;
}

.cast-info {
  margin-top: 5px;
  padding: 5px;
}

.cast-info > div {
  font-size: 11px;
  text-align: center;
  padding: 3px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #f4f4f4;
}

.cast-info > div:first-child {
  border-bottom: 1px dotted #f4f4f4;
}

.reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow: auto;
  height: 180px;
  padding: 5px 10px;
  color: #f4f4f4;
}

.review-list::-webkit-scrollbar {
  background-color: #000;
  width: 5px;
}

.review-list::-webkit-scrollbar-thumb {
  background-color: #f4f4f4;
  width: 5px;
}

.review-list-item {
  display: flex;
  align-items: flex-start;
  font-size: 11px;
  padding: 5px;
}

.review-list-item > span:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1;
  padding-right: 5px;
}

.review-list-item > span:last-child {
  flex: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  font-size: 10px;
  font-weight: 300;
}

.similar {
  width: 100%;
}

.similar-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
}

.similar-list-item {
  width: 110px;
  margin-right: 10px;
}

.similar-list-item img {
  width: 110px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}

.link {
  text-decoration: none;
  font-size: 12px;
  color: #4a7720;
}
