.container {
  width: 100%;
  height: max-content;
  min-height: calc(100vh - 60px);
}

.container > h1 {
  font-size: 22px;
  font-weight: 500;
  color: #f4f4f4;
  margin: 30px 20px 20px;
}

.wrapper {
  width: 100%;
  padding: 10px 15px;
}

.content-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  width: 100%;
  height: max-content;
  margin: 20px 0 50px;
}

.content {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  width: 100%;
}

.trending h1 {
  font-size: 16px;
  font-weight: 500;
  color: #f4f4f4;
  margin: 10px 0 10px 20px;
}

.content-genre-tabs {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 10px 20px;
}

.content-tabs {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0 10px 20px;
}

.content-tab {
  font-size: 14px;
  color: #f4f4f4;
  font-weight: 500;
  margin-right: 15px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  margin-bottom: 7px;
  padding-bottom: 5px;
}

.content-tab:hover,
.content-tab.active {
  border-bottom: 1px solid #f4f4f4;
}

.content-list {
  width: 100%;
  padding: 0 35px;
}

.trending-item {
  width: 100%;
  height: 200px;
  position: relative;
}

.content-item {
  width: 100%;
  height: 160px;
  position: relative;
}

.trending-item img,
.content-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  object-position: top;
}

.content-title {
  width: 80%;
  height: max-content;
  color: #f4f4f4;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 18px;
}

.trending .content-list {
  height: 220px;
  padding: 0;
}

.trending .content-list .content-title {
  bottom: 20px;
  font-weight: 500;
}

.link {
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
  color: #333;
}

@media screen and (max-width: 768px) {
  .container > h1 {
    font-size: 20px;
  }

  .wrapper {
    padding: 10px 20px;
  }

  .trending h1 {
    font-size: 13px;
  }

  .content-tab {
    font-size: 12px;
  }

  .trending .content-list .content-title {
    bottom: 20px;
    font-weight: 500;
    font-size: 14px;
  }
}
