.container {
  padding: 15px;
  width: 100%;
  height: max-content;
  min-height: calc(100vh - 60px);
}

.container > h1 {
  font-size: 18px;
  font-weight: 500;
  color: #f4f4f4;
  margin: 30px 20px 30px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  column-gap: 16px;
}

.section {
  padding: 20px 10px 10px 10px;
}

.section h1 {
  color: #f4f4f4;
  font-size: 16px;
  font-weight: 500;
  margin-left: 12px;
  margin-bottom: 12px;
}

.section-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 65vh;
  overflow-y: auto;
}

.section-list::-webkit-scrollbar {
  width: 0px;
}

.section-list::-webkit-scrollbar-thumb {
  width: 0px;
}

.section-item {
  display: flex;
  padding: 15px 20px;
  background-color: #222;
  color: #f4f4f4;
  margin-top: 15px;
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 1rem;
}

img {
  width: 110px;
  height: 160px;
  object-fit: cover;
}

.section-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 300;
  margin-left: 15px;
  padding: 5px 0;
  width: 100%;
}

.title {
  font-size: 14px;
  font-weight: 700;
  margin: 0 8px;
  max-width: 80%;
  color: #f4f4f4;
}

.info {
  font-size: 12px;
  text-align: end;
}

.overview {
  font-size: 12px;
  text-align: justify;
  word-break: break-all;
  height: 85px;
  overflow-y: auto;
  padding: 5px 10px;
  margin-bottom: 8px;
}

.overview::-webkit-scrollbar,
.overview::-webkit-scrollbar-thumb {
  width: 0px;
}

.link {
  color: #333;
  text-decoration: none;
}

.actions-button {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  border-radius: 50%;
  transition: background-color 200ms ease-in-out;
  z-index: 99;
}

.actions-button:hover {
  background-color: #333;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  z-index: 9;
  justify-content: center;
  align-items: center;
  transition: all 4s ease-in-out;
}

.actions span {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px 0;
  background-color: transparent;
}

.actions span:hover {
  background-color: #222;
}

.actions span:first-child {
  margin-top: 8px;
}

.actions span > svg {
  margin-right: 10px;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    column-gap: 16px;
  }

  .section-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .section-item {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: #f4f4f4;
    margin-top: 15px;
    margin-right: 15px;
    width: 170px;
    height: 200px;
    position: relative;
    border-radius: 1rem;
  }

  .section-item-info {
    margin-left: 0;
    padding: 10px 0;
  }

  .title {
    max-width: 90%;
    font-size: 12px;
    margin: 0;
    text-align: center;
  }

  .info,
  .overview {
    display: none;
  }

  .actions-button {
    right: 4px;
    background-color: transparent;
  }

  .actions {
    padding: 10px 20px;
    font-size: 10px;
  }
}
