.container {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  width: 400px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  padding: 20px 15px;
  color: #f4f4f4;
}

.login h1 {
  font-size: 25px;
  color: #f4f4f4;
  font-weight: 700;
  margin-bottom: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form-wrapper {
  position: relative;
  width: 300px;
  height: 40px;
  margin-bottom: 15px;
}

.login-form-label {
  position: absolute;
  top: 11px;
  left: 2px;
  padding: 0 10px;
  font-size: 12px;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: #000;
  color: #d7d7d7;
  font-weight: 500;
}

.login-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  outline: none;
  border: 1.5px solid #d7d7d7;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  background: none;
  transition: border 0.2s ease-in;
  color: #f4f4f4;
}

.login-input:hover {
  border-color: #90cea1;
}

.login-input:focus {
  border-color: #01b4e4;
}

.login-input:focus + .login-form-label,
.login-input:not(:placeholder-shown).login-input:not(:focus)
  + .login-form-label {
  top: -6px;
  font-size: 10px;
  left: 10px;
  color: #f4f4f4;
}

.login-button {
  width: 300px;
  height: 40px;
  padding: 10px 15px;
  outline: none;
  border: none;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  background: #f4f4f4;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 8px;

  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.login-button div {
  width: 300px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 200ms ease-in;
}

.login-button div:first-child {
  left: -300px;
  font-size: 24px;
}

.login-button:disabled {
  background-color: #d7d7d7;
  cursor: not-allowed;
}

.login-button:hover div {
  left: 300px;
}

.login-button:hover div:first-child {
  left: 0;
}

.signup-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.signup-button p {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
}

.signup-button button {
  font-size: 12px;
  font-weight: 700;
  outline: none;
  border: 1px solid #f4f4f4;
  background-color: #000;
  color: #f4f4f4;
  padding: 10px 15px;
  margin: 5px 0 10px;
  width: 300px;
  height: 40px;
  cursor: pointer;
  border-radius: 8px;
}
