.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  width: 400px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  padding: 20px 15px;
  border-radius: 1rem;
  color: #333;
}

.login h1 {
  font-size: 23px;
  color: #d67b30;
  font-weight: 700;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 7px;
}

.login-input {
  width: 100%;
  padding: 8px 15px;
  outline: none;
  border: none;
  margin-bottom: 15px;
  color: #333;
  font-size: 13px;
  font-weight: 300;
  border-radius: 16px;
}

.login-button {
  padding: 10px 15px;
  outline: none;
  border: none;
  color: #f4f4f4;
  font-weight: 700;
  font-size: 15px;
  border-radius: 18px;
  background-color: #d67b30;
  margin: 15px 0 20px;
  cursor: pointer;
}

.login-button:disabled {
  background-color: #e9a771;
  cursor: not-allowed;
}

.signup-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-button p {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 5px;
}

.signup-button button {
  font-size: 13px;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: #fff;
  color: #d67b30;
  border-radius: 18px;
  padding: 10px 15px;
  margin: 5px 0 10px;
  width: 100%;
  cursor: pointer;
}

.home-button {
  position: fixed;
  top: 70px;
  left: 70px;
  font-size: 24px;
  color: #d67b30;
  cursor: pointer;
}
