.home {
  max-width: 100%;
  width: 100%;
  height: max-content;
  /*min-height: calc(100vh - 60px);*/
}

.content {
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
}

.content-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.content-info {
  position: absolute;
  bottom: 6rem;
  left: 3rem;
  color: #f4f4f4;
  width: calc(100% - 6rem);
}

.content-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 28px;
  letter-spacing: 1px;
  width: 70%;
}

.content-details {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.content-details > div:not(:last-child)::after {
  content: "|";
  margin: 12px;
}

.content-details > div {
  font-size: 14px;
  font-weight: 300;
}

.content-info-align {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-overview {
  font-size: 14px;
  width: 65%;
  line-height: 24px;
  font-weight: 300;
}

/*
.content-trailer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.content-trailer-loading {
  width: 60px;
  height: 60px;
  position: relative;
}

.outer {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-trailer-loading svg {
  position: absolute;
  top: 0;
  left: 0;
}

.content-trailer-loading circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 8px;
  stroke-dasharray: 472;
  stroke-dashoffset: 0;
}

.content-trailer-loading circle.active {
  animation: progress 2s linear forwards;
}

@keyframes progress {
  0% {
    stroke-dashoffset: 472;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.content-trailer-button {
  margin-left: 15px;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 0;
  border-bottom: 1px solid transparent;
  color: #f4f4f4;
}

.content-trailer-button:hover {
  border-bottom: 1px solid #f4f4f4;
  cursor: pointer;
}
*/

.content-trailer {
  width: 20%;
  min-width: 190px;
  border: none;
  padding: 15px 20px;
  font-size: 15px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.content-trailer:hover {
  background-color: #f4f4f4;
}

.content-trailer svg {
  font-size: 20px;
  margin-right: 5px;
}

.trailer {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  position: fixed;
  right: 3rem;
  top: 3rem;
  font-size: 24px;
  cursor: pointer;
  color: #f4f4f4;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 200ms ease-in-out;
}

.close-button:hover {
  background-color: #222;
}

@media screen and (max-width: 1024px) {
  .content-title {
    font-size: 28px;
  }

  .content-details {
    margin-bottom: 12px;
  }

  .content-details > div {
    font-size: 12px;
  }

  .content-overview {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 768px) {
  .content-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-title {
    font-size: 26px;
    width: 70%;
  }

  .content-info-align {
    display: flex;
    flex-direction: column;
  }

  .content-trailer {
    width: 100%;
    margin-top: 15px;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .content-title {
    font-size: 22px;
    width: 100%;
  }

  .content-details,
  .content-overview {
    display: none;
  }
}
