.home {
  max-width: 100%;
  width: 100%;
  height: max-content;
  /*min-height: calc(100vh - 60px);*/
}

.content {
  width: 100%;
  height: 500px;
  position: relative;
}

.content-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.content-info {
  position: absolute;
  bottom: 5rem;
  left: 3rem;
  color: #f4f4f4;
}

.content-title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.content-details {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.content-details > div:not(:last-child)::after {
  content: "|";
  margin: 10px;
}

.content-details > div {
  font-size: 15px;
  font-weight: 300;
}

.content-info-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-overview {
  font-size: 14px;
  width: 60%;
  line-height: 20px;
}

.content-trailer {
  display: flex;
  align-items: center;
  width: 30%;
}

.content-trailer-loading {
  width: 60px;
  height: 60px;
  position: relative;
}

.outer {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-trailer-loading svg {
  position: absolute;
  top: 0;
  left: 0;
}

.content-trailer-loading circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 8px;
  stroke-dasharray: 472;
  stroke-dashoffset: 0;
}

.content-trailer-loading circle.active {
  animation: progress 2s linear forwards;
}

@keyframes progress {
  0% {
    stroke-dashoffset: 472;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.content-trailer-button {
  margin-left: 15px;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 0;
  border-bottom: 1px solid transparent;
  color: #f4f4f4;
}

.content-trailer-button:hover {
  border-bottom: 1px solid #f4f4f4;
  cursor: pointer;
}

.trailer {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  position: fixed;
  right: 3rem;
  top: 3rem;
  font-size: 24px;
  cursor: pointer;
  color: #f4f4f4;
}

.link {
  color: #f4f4f4;
  text-decoration: none;
}

.content-cast {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 300;
}

.content-cast > span {
  margin-left: 12px;
  font-weight: 400;
}
