.movie-item {
  margin-top: 2rem;
  width: 100%;
  overflow: hidden;
}

.movie-item-top h1 {
  font-size: 16px;
  color: #f4f4f4;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

.items {
  display: flex;
  list-style: none;
  gap: 10px;
}

.movie-item-card {
  width: 120px;
  height: 190px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.movie-item-card img {
  width: 100px;
  height: 130px;
  object-fit: cover;
  position: absolute;
  top: 7.5px;
  left: 7.5px;
}

.movie-title {
  color: #f4f4f4;
  font-size: 12px;
  font-weight: 300;
  position: absolute;
  top: 145px;
  left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  width: 85%;
  text-align: center;
}
