@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  /*height: 100vh;*/
  background-color: #000;
}

.container {
  background-color: transparent;
  max-width: 1280px;
  /*max-width: 1024px;*/
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

header {
  width: 100%;
  height: 60px;
}

main {
  width: 100%;
}

footer {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.slick-list {
  width: 100%;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 14px;

  position: absolute;
  top: 0;
  left: 0;

  width: 18px;
  height: 18px;

  content: "•";
  text-align: center;

  color: #d7d7d7;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin-top: 10px;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #d7d7d7;
}

/*
slick-carousel css 변경 시 바꾸고자 하는 css만 변경할 수 있는 게 아니라 모든 css가 초기화되므로 변경을 원치 않는 부분은 코드를 전부 붙여넣기 해야 함
*/
